ul
{
	link-style-type:none;
	margin-top:1.5%;
	padding:0;
	width:98%;
}
li
{
	border-radius:15px;
	width:15%;
	display:inline-block;
	background-color:rgba(0,0,0,0);
	padding:5px;
}
li:hover
{
	background-color:rgba(0,186,139,0.6);
	color:white;
	text-decoration:none;
}
li a
{
	text-decoration:none;
	font-family:Trebuchet MS;
	color:white;
	font-size:22px;
	text-align:center;
	display:block;
}
li a:hover,li a:active{
	text-decoration:none;
	color:white;
}