#section1{background-color:lightblue;background-image:url("../Images/BackgroundIMG12.jpg");font-weight:bold;z-index:-1;padding-top:8%;height:100%;background-size:100% 100%;}
			body{font-family:Trebuchet MS;}
			#usercred{width:70%;background-color:rgba(255,255,255,0.8);z-index:1;padding:5%;}
			#logindiv input,#signupdiv input,#signupdiv select{width:50%;background-color:rgba(0,0,0,0);border:1px solid;}
			#logindiv,#signupdiv{font-size:20px;color:#e3714d;}
			.form-group{padding:15px;}
			#ldright,#pdright,#pdleft,#adleft{background-color:rgba(0,0,0,0);border:0;float:right;font-size:30px;}	
			li a,li a:visited{text-decoration:none;color:grey;}	